!!! html5
%html
  %title Login - Developer Info | Entrar no sistema
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  =stylesheet_link_tag "application", :media=>"all"
  =javascript_include_tag "application"

  =csrf_meta_tags
  %header
  %body.screenLogin
    .container
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}",:role => "alert"}
          = value
      - flash = nil
      .col-lg-4
      .col-lg-4
        =yield
      .col-lg-4
:javascript
  setupLogin();
